body{
	background-image: url("img/background.jpg");
	

}
a{
	margin-left: 10px;
	margin-right: 70px;
}
#game-container{
	background-color: #E3E476  ;
	height: 300px;


}
#pagina{
	width: 500px;
	margin: 0px auto;
	margin-top: 10px;
}
#white{
	background-color: white;
	box-sizing: border-box;
	padding-top: 7px;
	width: 500px;
	height: 250px;
	font-size: 50px;
	text-align: center;

}

	
#button{
	margin-left: 220px;
	margin-bottom: 20px;
}
.input{
 margin-left: 42px;
 margin-top: 15px;
}
#Box0,#Box1,#Box2,#Box3,#Box4,#Box5,#Box6,#Box7,#Box8,#Box9,#Box10,#Box11,#Box12,#Box13,#Box14,#Box15,#Box16,#Box17,#Box18,#Box19{
	border: solid black 1px;
	margin-top: 7px;
	margin: 0px;
	width: 50px;
	min-width: 50px;
	height: 50px;
	display: inline-block;
